.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--Grayish-cyan);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.error {
  color: var(--Error);
  font-size: 11px;
}

.text {
  font-size: 1.125rem;
}

.label {
  position: relative;
  color: inherit;
}

.label input {
  width: 100%;
}

.input {
  outline: none;
  background-color: var(--Very-light-grayish-cyan);
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 6px 16px;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Very-dark-cyan);
}

.inputError {
  outline: none;
  background-color: var(--Very-light-grayish-cyan);
  border: 2px solid var(--Error);
  border-radius: 4px;
  padding: 6px 16px;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Very-dark-cyan);
}

.input::placeholder {
  color: var(--Grayish-cyan);
}

.input:focus-visible {
  border: 2px solid var(--Strong-cyan);
}

.icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  height: 1rem;
  width: auto;
}
